.features {
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
  }
}

.features-item {
  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-fon-color-team);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .features-item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features-item {
    width: 270px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;

    & .features-list__item {
      width: 354px;
      margin-right: 30px;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;

    & .features-list__item {
      width: 270px;
      margin-right: 30px;

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}

.features-list__icon {
  width: 70px;
  height: 70px;
}

.title {
  margin-bottom: 10px;

  .features-list & {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
    text-align: center;
  }
}
.text {
  margin-top: 0;
  margin-bottom: 0;

  .features-list & {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
