@media screen and (max-width: 1199px) {
  .doing-section {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .doing-list {
    display: flex;

    & .doing-list__item:not(:last-child) {
      margin-right: 30px;
    }
  }

  .doing-wrapper-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--second-color);
  }
  .doing-wrapper {
    position: relative;
    bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
