.work-title {
  padding: 20px 24px;
  border-right: 1px solid var(--portfolio-border-color-);
  border-bottom: 1px solid var(--portfolio-border-color-);
  border-left: 1px solid var(--portfolio-border-color-);
  flex-grow: 1;
}
.work-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.work-text {
  margin-top: 4px;

  .work & {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    font-weight: 400;
  }
}
.work-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  font-size: 18px;
  line-height: 1.55;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--second-color);
  padding: 64px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;

  .work__link:focus &,
  .work__link:hover & {
    transform: translateY(0);
    opacity: 1;
  }
  .work__link {
    display: flex;
    flex-direction: column;
    color: currentColor;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
}
@media screen and (max-width: 767px) {
  .work__item {
    width: 450px;
    background-color: var(--second-color);
    box-sizing: border-box;
  }
  .work__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .work {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    box-sizing: border-box;

    & > .work__item {
      display: flex;
      width: 354px;
      margin-left: 30px;
      margin-top: 30px;
      flex-basis: calc(100% / 2 - 30px);
    }
  }
}
@media screen and (min-width: 1200px) {
  .work > .work__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 3 - 30px);
  }
}
