:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --second-color: #ffffff;
  --double-accent-color: #2196f3;
  --background-fon-color: #2f303a;
  --background-fon-color-team: #F5F4FA;
  --second-transparent-color: color: rgba(255, 255, 255, 0.6);
  --portfolio-border-color-: #EEEEEE;
  --bg-hero-color: #C4C4C4;
  --accent-icon-color: #AFB1B8;
}